body {
    background-color: #F8C8DC;
    
}

img {
    height: 250px;
    width: 160px;
    padding: 10px;
}

.h1 {
    display:flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
}

.userCards {
    display: flex;
    justify-content: center;
    
}

.dealerCards {
    display: flex;
    justify-content: center
}

.btns {
    display: flex;
    justify-content: center;
}

.winner-loser {
    display:flex;
    justify-content: center;
}

.dealersHandDiv {
    display: flex;
    justify-content: center;
}

.usersHandDiv {
    display: flex;
    justify-content: center;
}

.dealername {
    display:flex;
    justify-content: center;
}

.username {
    display:flex;
    justify-content: center;
}

#hit {
    background-color: #77DDF9;
    border: 2px solid darkblue;
}